body {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

#menu {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: none;
}

#contenedor-total {
    position: fixed;
    top: 10;
    right: 10;
}

.opcion {
    height: 180px;
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}