body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

#carta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#menu {
    height: 300px;
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    display: none;
}